<app-header></app-header>

<main>
    <section class="main-section">
        <div class="text-content">
            <h2>A massive library of free 3D <span>shapes</span></h2>
            <p>Lorem ipsum is placeholder text commonly used in the
                graphic, print, and publishing industries                
            </p>

            <div class="form">
                <input type="email" placeholder="Your email address">
                <button type="button" class="btn-inside">Download 
                    <img src="assets/Fill-1.svg" alt="">
                </button>
            </div>
         <div class="img-content">
            <img src="assets/OBJECTS.svg" >
        </div>
        </div>
    </section>
</main>

<footer>
    <app-footer></app-footer>
</footer>
